@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background-image: url(../public/images/bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.dark header {
  background-image: url(../public/images/bgDark.jpg);
}

* {
  box-sizing: border-box;
}

body.dark {
  background-color: #292c35;
}

/* Dark mode btn */
input:checked ~ .dot {
  transform: translateX(100%);
}

/*ul {*/
/*  list-style-type: initial;*/
/*  list-style-position: outside;*/
/*}*/
