@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-bg {
  position: absolute;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  will-change: transform;
  min-width: 110%;
  min-height: 110%;
  width: 110%;
  height: 110%;
  max-width: 110%;
  max-height: 110%;
  left: -20px;
  background-image: url(../public/images/bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.dark .animated-bg {
  background-image: url(../public/images/bgDark.jpg);
}

* {
  box-sizing: border-box;
}

body.dark {
  background-color: #292c35;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
}
/* Dark mode btn */
input:checked ~ .dot {
  transform: translateX(100%);
}
